extends base.pug

block title
  title About AutoMapper

block styles
  link(rel="stylesheet", type="text/css" href="/styles/example.css")

block main
  img(src="bsautomapper-logo.png", width="256", height="256")
  p BSAutomapper is an open-source project by Lucien Maloney for automatically creating Beat Saber maps in the browser. The BeatSaber.js library that handles the logic of the conversion is an adaptation of a Julia library by the same name, BeatSaber.jl. Both use imperitive (read: non-AI) programming to create the maps.
  p The code for the website can be found at #[a(href="https://github.com/lucienmaloney/BeatSaberMappingSite") https://github.com/lucienmaloney/BeatSaberMappingSite], and the Julia library at #[a(href="https://github.com/lucienmaloney/BeatSaber.jl") https://github.com/lucienmaloney/BeatSaber.jl]. Issues, suggestions, and other comments can be made at #[a(href="https://github.com/lucienmaloney/BeatSaberMappingSite/issues") https://github.com/lucienmaloney/BeatSaberMappingSite/issues].
