doctype html
html
  head
    block title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", type="text/css" href="/styles/base.css")
    block styles
  body
    nav
      h2 Beat Saber Automapper
      div
        a(href="/") Automapper
        a(href="/examples") Example Songs
        a(href="/setup") Song Setup Guide
        a(href="/about") About
    main
      block main
    block scripts
