extends base.pug

block title
  title AutoMapper Examples

block styles
  link(rel="stylesheet", type="text/css" href="/styles/example.css")

block main
  p Example 1: Plants vs Zombies Roof Stage
  p Video game music is particularly well-suited to automapping because of how generally simple and sharp it is, and in this example we see mostly accurate note placement throughout the song.
  iframe(width="560",height="315",src="https://www.youtube.com/embed/qtP4Ju1gMWw",frameborder="0",allowfullscreen,allow="encrypted-media; picture-in-picture")
  hr
  p Example 2: Uprising
  p Harder for the automapper is anything involving lyrics, but when there's a distinct and loud beat, like in this case, it still does fairly well. Although as the video demonstrates, it struggles a bit in the quieter sections.
  iframe(width="560",height="315",src="https://www.youtube.com/embed/-PaAUke_vcU",frameborder="0",allowfullscreen,allow="encrypted-media; picture-in-picture")
  hr
  p Example 3: Polka Face
  p This is a messy song with lots of tempo, volume, and style changes. As a result, the map is also fairly messy, but still playable. But bear in mind that the more complicated the songs get, the harder it is to create accurate note placements.
  iframe(width="560",height="315",src="https://www.youtube.com/embed/AO8mTfg7NyM",frameborder="0",allowfullscreen,allow="encrypted-media; picture-in-picture")
  hr
  p For additional examples, know that you upload any Beat Saber map zip at #[a(href="https://skystudioapps.com/bs-viewer/") https://skystudioapps.com/bs-viewer/] to see a live preview in-browser.
