fieldset {
  margin-bottom: 30px;
  flex-grow: 1;
}

table, tr {
  width: 100%;
}

table#upload td:first-child {
  text-align: center;
  width: 240px;
}

table#upload td:last-child {
  vertical-align: top;
  width: calc(100% - 300px);
}

table#mapoptions {
  max-width: 600px;
}

table#mapoptions th {
  text-align: left;
}

#mappingoptions div {
  margin: 0px 10px;
}

#degree {
  margin-left: 20px;
}

input[type="button"] {
  font-size: 16px;
  padding: 5px 10px;
  margin: auto;
}

label {
  font-size: 16px;
}

label.small {
  color: #555;
  font-size: 14px;
}

textarea {
  width: 100%;
  resize: vertical;
  min-height: 70px;
}

input[type="number"] {
  width: 50px;
  margin-right: 5px;
}
